#grid-header {
  grid-area: header;
  background-color: #e4e2e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  justify-items: center;
  align-items: center; }
  #grid-header .imagen-logo {
    max-width: 130px;
    width: 100%; }
  #grid-header .nav-item {
    align-self: center;
    list-style-type: none; }
    #grid-header .nav-item a {
      color: #CAA7D1;
      text-decoration: none;
      font-weight: bold; }

body {
  background-color: #CAA7D1; }

@keyframes animacion-titulo {
  0% {
    top: -70px; }
  25% {
    top: 0px; } }

h1 {
  grid-area: titulo;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: #f7f4e7;
  text-align: center;
  animation-name: animacion-titulo;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-direction: alternate;
  position: relative;
  font-weight: bold;
  margin-top: 20px; }
  h1:hover {
    color: #ebbdc6; }

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #f7f4e7;
  text-align: center;
  margin-top: 10px;
  font-weight: bold; }

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #f7f4e7;
  padding-left: 30px;
  margin-top: 10px; }

fieldset {
  padding: 10px;
  border-color: #f7f4e7;
  display: inline-block;
  width: 360px;
  background-color: #ebbdc6; }

th {
  text-align: left; }

#particularidades {
  justify-items: center;
  align-items: center; }
  #particularidades #row-particularidades {
    text-align: center;
    margin-bottom: 48px; }
  #particularidades .iconos-inicio {
    width: 50px;
    height: 55px;
    display: block;
    margin: auto; }

#titulo {
  margin-bottom: 0; }

.macarons {
  width: 50vw; }

@media (max-width: 768px) {
  #presentacion {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; }
  .macarons {
    width: 80vw; } }

.parrafo-inicio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #f7f4e7; }
