body {
    background-color: $color-principal;
}
@keyframes animacion-titulo {
    0% {
        top: -70px;
    }

    25% {
        top: 0px;
    }
}

h1 {
    @extend .fuente;
    grid-area: titulo;
    font-size: map-get($estilo-titulo , tFuente );
    color: map-get($estilo-titulo , color );
    text-align: center;
    animation-name: animacion-titulo;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-direction: alternate;
    position: relative;
    font-weight: map-get($estilo-titulo , fWeight );
    margin-top: 20px;
    &:hover{
        color:$color-secundario;
    }
}

h2 {
    @extend .fuente;
    font-size: 30px;
    color: $color-white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

h3 {
    @extend .fuente;
    font-size: 20px;
    color: $color-white;
    padding-left: 30px;
    margin-top: 10px;
}
fieldset {
    padding: 10px;
    border-color: $color-white;
    display: inline-block;
    width: 360px;
    background-color: $color-secundario;
}
th {
    text-align: left;
}
