#grid-header {
    @extend .fuente;
    background-color: $color-grey;
    font-size: medium;
    // justify-items: center;
    // align-items: center;
    .imagen-logo {
        max-width: 130px;
        width: 80%;
    }
    .nav-item {
        align-self: center;
        list-style-type: none;
        margin-left: 12px;
        a {
            color: $color-principal;
            text-decoration: none;
            font-weight: bold;
        }
    }
    
}

