#particularidades {
    justify-items: center;
    align-items: center;

    #row-particularidades {
        text-align: center;
        margin-bottom: 48px;
    }
    .iconos-inicio {
        @include sizes(50px , 55px);
        display: block;
        margin: auto;
    }
}
#titulo {
    margin-bottom: 0;
}
.macarons {
    width: 50vw;
}

@media (max-width: 768px) {
    #presentacion {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .macarons {
        width: 80vw;
    }
}

.fuente {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.parrafo-inicio {
    @extend .fuente;
    font-size: 15px;
    color: $color-white;
}
