#particularidades {
    justify-items: center;
    align-items: center;

    #row-particularidades {
        text-align: center;
        margin-bottom: 48px;
    }

    .iconos-inicio {
        @include sizes(50px, 55px);
        display: block;
        margin: auto;
    }
}

#titulo {
    margin-bottom: 0;
}

.macarons {
    width: 45vw;
}

#presentacion {
    margin-top: 40px;
}

.parrafo-p {
    width: 85%;
    }

@media (max-width: 768px) {
    #presentacion {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .macarons {
        width: 80vw;
        margin-left: 10vw;
    }

}

@media (max-width: 1200px) {
    .macarons {
        width: 80vw;
        margin-left: 10vw;
    }
    .parrafo-p {
        width: 100%;
        }
}

.fuente {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.parrafo-inicio {
    @extend .fuente;
    font-size: 17px;
    padding-top: 9px;
    color: $color-white;
    padding: 0 40px 0 40px;
    font-weight: bold;
    width: 150px;
    
}
