.container-tortas {
    margin-top: 5vh;
    
    .columna-torta {
        text-align: center;
        .tortas {
            @include sizes(300px , 410px);
            background-color: $color-nuevo;
            border-width: 1px;
            border-style: solid;
            border-color: $color-white;
            padding: 25px;
            margin-bottom: 12px;
            display: inline-block;
            .imagen-tortas {
                width: 250px;
                padding: 20px;
                display: block;
                margin: auto;
            }
            
            .info-tortas {
                @extend .fuente;
                font-weight: bold;
                font-size: 12px;
                color: $color-black;
                text-align: center;
            }
        }
    }
    
   
    
    
}

