body {
    background-color: rgb(202, 167, 209);

}

#grilla {
    /* min-height: 95vh; */
}


#subtitulo {
    grid-area: subtitulo;
}

#consideraciones {
    grid-area: consideraciones;
}

.contacto {
    min-height: 90vh;
}

.div-carrito {
    min-height: 90vh;
}



.imagen-logo {
    max-width: 130px;
    width: 100%;
}

a {
    color: rgb(198 161 204);
    text-decoration: none;
}

/* #presentacion {
    grid-area: presentacion;
    display: grid;
    grid-template-columns: 50vw 30vw;
    justify-content: center;
    margin-bottom: 20px;
} */

.macarons {
    width: 50vw;
}


@media (max-width: 768px) {
    #presentacion {
        grid-area: presentacion;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .macarons {
        width: 80vw;
    }
}
.us{
    margin-top: 10vh;
}

#row-particularidades {
    text-align: center;
    margin-bottom: 48px;
}
#particularidades {
    justify-items: center;
    align-items: center;
}

h1 {
    grid-area: titulo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #f7f4e7;
    text-align: center;
    animation-name: animacion-titulo;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-direction: alternate;
    position: relative;
    font-weight: bold;
    margin-top: 20px;
}

#titulo {
    margin-bottom: 0;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #f7f4e7;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

@keyframes animacion-titulo {
    0% {
        top: -70px;
    }

    25% {
        top: 0px;
    }
}

.parrafo-inicio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #f7f4e7;
}


.iconos-inicio {
    width: 50px;
    height: 55px;
    display: block;
    margin: auto;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #f7f4e7;
    padding-left: 30px;
    margin-top: 10px;
}

#footer {
    grid-area: footer;
    display: flex;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #f7f4e7;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-nosotros {
    min-height: 90vh;
}

.container-fluid{
    padding: 0;
}
.parrafo-nosotros {
    grid-area: parrafoNosotros;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    font-size: 15px;
    color: #f7f4e7;
    text-align: center;
}

.nosotros {

}

.icon-redes {
    width: 55px;
    margin: 12px;
    height: 55px;
}

.redes-sociales {
    margin-top: 64px;
    display: flex;
    justify-content: center;

}

.container-tortas{
    margin-top: 5vh;
}
.tortas {
    background-color: #f9c7c3;
    border-width: 1px;
    border-style: solid;
    border-color: #f7f4e7;
    width: 300px;
    padding: 25px;
    margin-bottom: 12px;
    height: 450px;
    display: inline-block;
}
.columna-torta{
    text-align: center;
}

.imagen-tortas {
    width: 250px;
    padding: 20px;
    display: block;
    margin: auto;
}

.info-tortas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(10, 10, 10);
    text-align: center;
}

.info-formulario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 10, 10);

    
    text-align: center;
}

fieldset {
    padding: 10px;
    border-color: #f7f4e7;
    display: inline-block;
    width: 360px;
    background-color: #f9c7c3;
}

.tabla-carrito {
    width: 500px
}

th {
    text-align: left;
}

.info-compra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 10, 10);
    background-color: #f9c7c3;
    padding: 16px;
    margin-top: 10px;
}

.boton-carrito {
    width: 100%;
}
.precio-final{
    margin-top: 18px;
    font-weight: bold;
    
}