.contacto {
    min-height: 90vh;
}

.div-carrito {
    min-height: 90vh;
}

.us {
    margin-top: 10vh;
}

#footer {
    grid-area: footer;
    display: flex;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #f7f4e7;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-nosotros {
    min-height: 90vh;
}

.container-fluid {
    padding: 0;
}

.parrafo-nosotros {
    grid-area: parrafoNosotros;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    font-size: 15px;
    color: #f7f4e7;
    text-align: center;
}

.icon-redes {
    width: 55px;
    margin: 12px;
    height: 55px;
}

.redes-sociales {
    margin-top: 64px;
    display: flex;
    justify-content: center;

}

.container-tortas {
    margin-top: 5vh;
}

.tortas {
    background-color: #f9c7c3;
    border-width: 1px;
    border-style: solid;
    border-color: #f7f4e7;
    width: 300px;
    padding: 25px;
    margin-bottom: 12px;
    height: 450px;
    display: inline-block;
}

.columna-torta {
    text-align: center;
}

.imagen-tortas {
    width: 250px;
    padding: 20px;
    display: block;
    margin: auto;
}

.info-tortas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(10, 10, 10);
    text-align: center;
}

.info-formulario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 10, 10);


    text-align: center;
}

.tabla-carrito {
    width: 500px
}


.info-compra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 10, 10);
    background-color: #f9c7c3;
    padding: 16px;
    margin-top: 10px;
}

.boton-carrito {
    width: 100%;
}

.precio-final {
    margin-top: 18px;
    font-weight: bold;

}